*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100%;
    margin: 0;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    background: linear-gradient(135deg, #0f172a, #2563eb);
    background-attachment: fixed;
}

h1{
    font-size: 45px;
    text-align: center;
    margin: 80px;
    color: #ffffff;
    font-style: italic;
    text-shadow: rgb(48, 37, 37) 0.1em 0.1em 0.2em;
}
